{% extends "global/pages/base.html" %}

{% block title %}Edit todo: {{ todo.pk }}{% endblock title %}

{% block content %}
<div class="container justify-center mx-auto">
    
    <form action="#" method="POST">
        {% csrf_token %}

        {% include "todo/partials/render_todo_form.html" with form=form %}

        <div class="flex justify-between pt-4">
            <a href="{% url "todo:home" %}" class="btn btn-error">Cancel</a>
            <button type="submit" class="btn btn-success">Edit</button>
        </div>
    </form>
</div>
{% endblock content %}